body{
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  background-image: linear-gradient(#202D40,#677189);
  font-weight: 600;
}

#header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #020A0E;
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 1000;
}

#footer{
  min-height: 100px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 50vh 0 50vh white;
  padding-right: 3.5vw;
  padding-left: 2vw;
}

#footerText{
  font-weight: 500;
  font-size: 1vw;
  width: 20%;
}

#footerIcons{
  display: flex;
  justify-content: space-between;
  width: 15%;
}

.footerIcon{
  height: 23%;
  width: 23%;
  cursor: pointer;
  margin: 1rem;
}

#footerCV{
  font-weight: 1000;
  font-size: 2.5vw;
  height: 23%;
  width: 23%;
  padding: 0px;
  margin: 1rem;
  cursor: pointer;
}

#madeIn{
  font-size: 1vw;
}

/*------------------------------------------*/

#matthew{
  margin-left: 3rem;
  font-weight: 700;
  color: white;
  font-size: 1.5vw;
  cursor: pointer;
}

#navBar{
  list-style-type: none;
  margin-right: 0;
  padding: 1rem;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  width: 90%;
}

.navLinks{
  margin-left: 1rem;
  margin-right: 1rem;
  height: 1.5vw;
  border-radius: 12px;
  background-color: #020A0E;
  color: white;
  font-weight: 600;
  border: none;
  cursor: pointer;
  text-decoration: none;
  width: 10vw;
  font-size: .7vw;
  align-items: center;
}

.navLinks:hover{
  background-color: #202D40;
}

#activeHome{
  text-decoration: underline;
  font-weight: 1000;
  background-color: #202D40;
  
}

#activeAbout{
  text-decoration: underline;
  font-weight: 1000;
  background-color: #202D40;
}

#activeProject{
  text-decoration: underline;
  font-weight: 1000;
  background-color: #202D40;
}

#activeContact{
  text-decoration: underline;
  background-color: #BD7418;
  color: white;
  font-weight: 1000;
  width: 10vw;
  font-size: .7vw;
  margin-right: 2vw;
}

#contact{
  margin-right: 2vw;
  background-color: #677189;
  color: white;
  width: 10vw;
  font-size: .7vw;
  align-items: center;
}

#contact:hover{
  background-color: #BD7418;
  color: white;
  align-items: center;
}

/*------------------------------------------*/

#mainContainer{
  margin: 5rem;
  display: flex;
  justify-content:center;
  height: 100%;
}

#mainTextContainer{
  color: white;
  margin-right: 10rem;
  margin-top: 9rem;
  width: 40%;
}

#name{
  color: #BD7418;
}

#profilePic{
  height: 25%;
  width: 25%;
  border-radius: 50%;
  margin-top: 30px;
  align-self: center;
}

.landingPageButton{
  border-radius: 12px;
  padding: 15px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 15px;
  font-weight: 600;
  border: none;
  font-size: 1.2vw;
}

#resumeButton{
  background-color: #020A0E;
  color: white;
}

#resumeButton:hover{
  background-color: white;
  color: black;
}

#projectsButton{
  background-color: #BD7418;
  color: white;
}

#projectsButton:hover{
  background-color: white;
  color: black;
}

/*------------------------------------------*/

#aboutMainContainer{
  display: flex;
  justify-content: space-between;
  color: white;
  position:relative;
}

#profileAndContact{
  padding-left: 20px;
  padding-top: 40px;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  background-color: #020A0E;
  border-right: solid #020A0E;
  width: 17%;
}

#verticalLineAbout{
  margin-left: 2rem;
  margin-top: 50px;
  margin-bottom: 50px;
  border-right: .5vw solid #e2e2e2;
}

#aboutPic{
  height:25%;
  width: 70%;
  border-radius: 12px;
  margin-top: 30px;
  align-self: center;
}

.contactHeader{
  align-self: center;
}

.horizontalLineProfile{
  border-top: 3px solid #e2e2e2;
}

.contactContainer{
  display: flex;
  justify-content: space-between;
  margin-left: 10px;
  margin-right: 10px;
}

.contactInfo{
  font-size: .7vw;
  align-self: center;
}

.icon{
  height: 35%;
  width: 12%;
  align-self: center;
}

.contactButtons{
  border-radius: 12px;
  height: 30px;
  width: 50%;
  border: none;
  font-weight: 700;
  font-size: .8vw;
  margin-top: 10px;
  cursor: pointer;
  background-color: #677189;
  color: #e2e2e2;
  align-self: center;
}

.contactButtons:hover{
  background-color: #e2e2e2;
  color: #020A0E;
}

#resume{
  margin-top: 20px;
  background-color: #BD7418;
  color: #e2e2e2;
}

#resume:hover{
  background-color: #e2e2e2;
  color: #020A0E;
}

#credentialContainer{
  margin-left: 6vw;
  padding-right: 7vw;
  padding-bottom: 100px;
  padding-top: 50px;
  color: #e2e2e2;
  width: 80%;
}

.aboutHeader{
  color: #BD7418;
  font-weight: 1000;
  font-size: 1.5vw;
}

#firstRowCredentials{
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

#verticalLineCredential{
  border-left: .5vw solid #e2e2e2;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 2vw;
  margin-right: 2vw;
}

#secondRowCredentials{
  display: flex;
  justify-content: space-between;
}

#certifications{
  margin-top: 100px;
  max-width: 436px;
  margin-right: 5rem;
}

#myProjects{
  position: absolute;
  bottom: 0;
  right: 0;
  height: 250px;
  width: 750px;
  font-size: 2.5vw;
  display: flex;
  justify-content: end;
  align-items: end;
  font-weight: 300;
  margin-right: 25px;
  margin-left: 5rem;
  cursor:pointer ;
}

/*------------------------------------------*/
.projectsHorizontalLine{
  border-top: 3px solid #e2e2e2;
  margin: 2.5vw;
}

#projectsMainContainer{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.project{
  display: flex;
  margin-left: 7vw;
  margin-right: 7vw;
}

.projectContainerLeft{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.projectTitle{
  font-weight: 1000;
  color: #BD7418;
  font-size: 1.5vw;
}

.keywords{
  font-weight: 1000;
  font-size: .9vw;
  color: #e2e2e2;
}

.projectImage{
  height: 60%;
  width: 90%;
}

.projectsVerticalLine{
  border-left: 3px solid #020A0E;
}

.projectContainerRight{
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-left: 30px;
  justify-content: space-around;
  width: 140%;
}

.projectDescription{
  color: #e2e2e2;
  font-size: .9vw;
}

.projectDescriptionText{
  font-size: .8vw;
}

.projectButtons{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
  width: 100%;
  align-self: center;
  margin-left: 2vw;
  margin-right: 2vw;
}

.projectWebsite{
  border-radius: 12px;
  height: 2.5vw;
  width: 25%;
  border: none;
  font-weight: 700;
  background-color: #020A0E;
  color: #e2e2e2;
  border: none;
  font-size: .8vw;
}

.projectGithub{
  border-radius: 12px;
  height: 2.5vw;
  width: 25%;
  font-weight: 700;
  background-color: #020A0E;
  color: #e2e2e2;
  border: none;
  font-size: .8vw;
}

.projectWebsite:hover{
  background-color: #e2e2e2;
  color: #020A0E;
}

.projectGithub:hover{
  background-color: #e2e2e2;
  color: #020A0E;
}

#analyze{
  height: 80%;

}

/*------------------------------------------*/

#contactMainContainer{
  min-height: 45vw;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#contactFirstLine{
  color: #020A0E;
  font-size: 2.5vw;
}

#contactButton{
  border-radius: 12px;
  height: 100%;
  width: 12%;
  font-size: 2.5vw;
  background: transparent;
  border: none;
  color: #BD7418;
  font-weight: 1000;
  cursor: pointer;
}

#contactButton:hover{
  background-color: #677189;
}

#contactEmail{
  height: 100%;
  font-size: 2.5vw;
  background: transparent;
  border: none;
  width: 64%;
  color: #e2e2e2;
  font-weight: 1000;
  cursor: pointer;
  border-radius: 12px;
}

#contactEmail:hover{
  background-color: #677189;
}

#contactSecondLine{
  font-size: 2vw;
}


#notification{
  opacity: 0;
  transition: opacity 0.5s ease;
  color: #e2e2e2;
  font-size: 1.4vw;
}

#notification.visible{
  opacity: 1;
}

#notification.hidden{
  opacity: 0;
}
